*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}
.exclusiveOffersPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff1ed;
    padding-top: 70px;
}
.exclusiveOffersPage p{
    font-size: 16px;
    color: #6b6765;
}
.exclusiveOffersPage h2{
    margin-top: 65px;
    font-size: 56px;
    text-align: center;
    font-family: 'Lexend Zetta';
    line-height: 50px;
    letter-spacing: -12px;
}
.placeContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.placeItem{
    display: flex;
    flex-direction: column;
}
.cityPhoto{
    width: 400px;
    height: 370px;
    background-color: #999;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding: 20px;
}
.priceItem{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f07c52;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend Zetta';
    font-size: 24px;
}
.pomePhoto{
    background-image: url(./img/Bitmap.svg);
    background-size: cover;
}
.NewYork{
    background-image: url(./img/Bitmap\ \(1\).svg);
    background-size: cover;
}
.Paris{
    background-image: url(./img/Bitmap\ \(2\).svg);
    background-size: cover;
}
.placeItem h3{
    font-size: 40px;
    font-family: 'Lexend Zetta';
    letter-spacing: -8px;
    line-height: 48px;
    margin-top: 20px;
}
.placeItem .city{
   font-size: 16px;
   color: #6b6765;
}







.bestAdventuresPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    padding-top: 70px;
}
.bestAdventuresPage p{
    font-size: 16px;
    color: #6b6765;
    margin-left: 100px;
}
.bestAdventuresPage h2{
    margin-top: 65px;
    font-size: 56px;
    color: #333333;
    font-family: 'Lexend Zetta';
    line-height: 50px;
    letter-spacing: -12px;
    margin-left: 100px;
}
.placeCountryContainer{
        width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.placeOffer{
    width: 320px;
    height: 392px;
    background-color: #F5F6F8;
    margin-bottom: 50px;
    padding: 0%;
}
.topOffer{
    background-color: #FFF2F2;
}
.bestOffer{
    background-color: #6347F9;
}
.placeOffer .placeInfo{
  width: 100%;
  height: 20%;
  padding: 24px 32px;
}
.placeInfo h2{
    margin-top: 0px;
    margin-left: 0px;
    color: #333;
font-size: 20px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0;
}
.placeInfo p{
    margin-top: 10px;
    color: rgba(51, 51, 51, 0.50);
    font-size: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0px;
}
.price{
 margin-left: 32px;
 margin-top: 35px;
 color: #333;
 font-size: 40px;
 font-family: 'Lexend Zetta';
 font-style: normal;
 font-weight: 400;
 line-height: 48px;
 letter-spacing: -8px;
}
.placeOffer img{
    margin-top: 35px;
    width: 100%;

}
.btnContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}
.seeMore{
     width: 170px;
     height: 48px;
     background-color: transparent;
     border: 1px solid #F07C5280;
     color: #f07c52;
     cursor: pointer;
}
.seeMore:hover{
    background-color: #f07c52;
    border: none;
    transition: 1s;
    color: #fff;
}

.homePage{
    width: 100%;
    height: 100vh;
    background: #6347F9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.homePage header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 135px;
    position: fixed;
    background-color: #6347F9;
    z-index: 3;
}
.homePage header h2:first-child{
    color: #FFF;
    font-family: 'Lexend Zetta';
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -8px;
}
.headerBtn{
        display: flex;
}
.headerBtn{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.headerBtn ul{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerBtn ul ol{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
    transition: 0.5s;
}
.headerBtn ul ol:hover{
    color: #999;
    transition: 0.5s;
}
.bookTrip{
    margin-left: 30%;
    width: 250px;
    height: 50px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    text-align: center;
    font-family: 'Lexend Zetta';
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;
    text-transform: uppercase;
}
.bookTrip:hover{
    background-color: #fff;
    border: 2px solid #6347F9;
    color: #6347F9;
}
.homePageMain{
    margin-top: 10vh;
}
.homePageMain p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 100px;
}
.BookYourTrip{
    animation-name: sideIn1;
    animation-duration: 3s;
}
@keyframes sideIn1 {
    10%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.homePageMain h2{
    margin-top: 30px;
    color: #FFF;
    text-align: center;
    font-family: 'Lexend Zetta';
    font-size: 72px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -14px;

}
.ChooseYour{
    animation-name: sideIn2;
    animation-duration: 1.5s;
}
@keyframes sideIn2 {
    10%{
        margin-top: -100%;
    }
    100%{
    }
}
.homePageSlider{
    width: 100%;
    height: 40vh;
}
.background{
    width: 100%;
    height: 20vh;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 80vh;
}
.slider{
    width: 100%;
    height: 40vh;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.sliderPart{
    cursor: pointer;
}
.sliderPart1{
    width: 270px;
    height: 350px;
}
.sliderPart2{
    width: 270px;
    height: 350px;
    transition: 0.5s;
}
.sliderPart3{
    width: 270px;
    height: 350px;
    transition: 0.5s;
}
.sliderPart4{
    width: 270px;
    height: 350px;
    transition: 0.5s;
}
.sliderPart5{
    width: 270px;
    height: 350px;
}

.sliderImg{
    width: 100%;
    height: 304px;
    background-size: cover;
}
.firstSlide{
    background-image: url(./img/Bitmap.png);
}
.secondSlide{
    transition: 0.5s;
    background-image: url(./img/Bitmap1.png);
}
.thirdSlide{
    transition: 0.5s;
    background-image: url(./img/Bitmap2.png);
}
.fourthSlide{
    transition: 0.5s;
    background-image: url(./img/Bitmap3.png);
}
.fifthSlide{
    background-image: url(./img/Bitmap4.png);
}
.sliderPart h2{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
.sliderPart p{
    color: rgba(51, 51, 51, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.fst{
    margin-left: 20px;
}